.navbar {    
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 8vh;
    align-items: center;
    padding: 7px 5%;
    border-top: 1px solid #222;    
}

.nav-icon {
    border-radius: 2px;
    cursor: pointer;
}
