.story-main {
    width: 100%;
    height: 100%;
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-color: #171717;
    color: #fff;
  }
  
.story-container {
  width: 412px;
  height: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

@media only screen and (max-width: 1024px) {
    .story-container {
      width: 100%;
    }
  }

.story-content {
    width: 100%;
    display: flex;
    justify-content: center;
}

.story-content > img {
    width: 100%;
    height: fit-content;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 2%;
    width: 100%;
    padding: 0 10px;
}

.story-user-detail { 
    display: flex;
    align-items: center;
    justify-content: center;        
    gap: 5px;
}

.story-user-detail > p {
    font-weight: 700;
}